/* <----- Navbar -----> */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  max-width: 100%;
  margin: auto;
  padding: 0 150px;
  /* border: 3px solid red; */
}

.container {
  max-width: 1200px;
  margin: auto;
}

.hero-inner {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
}


.navbar {
  background: #ffffff;
  padding: 1rem 2rem;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2FA84F;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-links li a:hover {
  color: #2FA84F;
}

.whatsapp-btn {
  background: #2FA84F;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

/* <----- Hero Section -----> */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
  background-color: #F5F7F6;
  flex-wrap: wrap;
}

.hero-left { flex: 1; min-width: 300px; }
.hero-right { flex: 1; text-align: center; min-width: 300px; }

.hero-title { font-size: 2.5rem; color: #2FA84F; margin-bottom: 20px; }
.hero-subtitle { font-size: 1.2rem; color: #333; margin-bottom: 30px; }

.hero-buttons { display: flex; gap: 20px; flex-wrap: wrap; }

.hero-whatsapp-btn {
  background-color: #2FA84F;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
}

.hero-prescription-btn {
  background-color: #fff;
  color: #2FA84F;
  border: 2px solid #2FA84F;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  margin: 0 0 0.8rem 0 ;
}
.hero-prescription-btn:hover {
  background-color: #2FA84F;
  color: white;
}

/* <----- services section -----> */
.services {
  padding: 60px 40px;
  background-color: #ffffff;
  text-align: center;
}

.services-title {
  font-size: 2rem;
  color: #2FA84F;
  margin-bottom: 40px;
  /* font-weight: 600; */

}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.service-card {
  background: #F5F7F6;
  padding: 30px 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 220px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  transition: transform 0.2s;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-icon {
  font-size: 2rem;
  margin-bottom: 15px;
}

/* <----- products section -----> */
.products {
  padding: 60px 40px;
  background-color: #F5F7F6;
  text-align: center;
}

.products-title {
  font-size: 2rem;
  color: #2FA84F;
  margin-bottom: 40px;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 200px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  object-fit: contain;
}
.product-name {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 10px;
}
.product-price {
  font-size: 1rem;
  color: #2FA84F;
  font-weight: 600;
}

/* <----- CTA Section -----> */
.cta {
  background-color: #2FA84F;
  color: white;
  padding: 40px 20px;
  text-align: center;
  border-radius: 12px;
  margin: 40px;
}

.cta-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.cta-subtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.cta-whatsapp-btn {
  background-color: white;
  color: #2FA84F;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
}

.cta-prescription-btn {
  background-color: #fff;
  color: #2FA84F;
  border: 2px solid #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}
.cta-prescription-btn:hover {
  background-color: white;
  color: #2FA84F;
}

/* <----- About Section -----> */
.about {
  padding: 60px 20px;
  max-width: 1100px;
  margin: auto;
  /* border: 2px solid red; */
}

.about h2 {
  font-size: 2rem;
  text-align: center;
  color: #2FA84F;
  margin-bottom: 20px;
}

.about-text {
  text-align: center;
  max-width: 700px;
  margin: auto;
  margin-bottom: 40px;
  line-height: 1.7;
}

.about-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.about-card {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.about-card h3 {
  margin-bottom: 10px;
  color: #2FA84F;
}

/* <----- Contact Section -----> */
.contact {
  padding: 60px 20px;
  max-width: 1100px;
  margin-right: auto;
  font-size: 1.5rem;
}

.contact h2 {
  text-align: center;
  color: #2FA84F;
  margin-bottom: 40px;
}

.contact-wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.contact-form button {
  background: #2FA84F;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.contact-info {
  flex: 1;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.whatsapp-link {
  display: inline-block;
  margin-top: 15px;
  background: #25D366;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  text-decoration: none;
}

.map-container {
  margin-top: 40px;
}

/* <----- Footer -----> */
.footer {
  display: flex;
  flex-direction: column;
  background-color: #25D366;
  color: white;
  padding: 40px 20px;
  margin: 0;
  width: 100%;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  /* border: 1px solid red; */
  font-size: 2rem;
}

.footer-section {
  min-width: 200px;
  /* border: 1px solid blue; */
  margin-bottom: 30px;

}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 10px;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid rgba(255,255,255,0.3);
  padding-top: 10px;
  font-size: 0.9rem;

}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  
.app {
  max-width: 100%;
  margin: auto;
  padding: 0 10px;
}
  
  /* <----- Navbar -----> */
  .nav-links {
    position: fixed;
    top: 70px;
    right: 0;
    background: #ffffff;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    gap: 15px;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
    display: flex;
    z-index: 999;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .hamburger {
    display: block;
    color: #2FA84F;
  }

  .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  z-index: 98;
}



  /* <----- Hero Section -----> */
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .hero-left,
  .hero-right {
    width: 100%;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .hero-buttons {
    justify-content: center;
  }

/* <----- services section -----> */
  .services {
    padding: 40px 20px;
  }

  .service-card {
    width: 100%;
    max-width: 320px;
  }

  /* <----- products section -----> */
  .products {
    padding: 40px 20px;
  }

  .product-card {
    width: 100%;
    max-width: 200px;
  }

  /* <----- CTA Section -----> */
  .cta {
    margin: 20px;
    padding: 40px 20px;
  }

  .cta-title {
    font-size: 1.6rem;
  }

  .cta-subtitle {
    font-size: 1rem;
  }

  .cta-buttons {
    flex-direction: column;
  }

  /* Mobile */
  .contact-wrapper {
    flex-direction: column;
  }
}

  /* <----- Footer -----> */
  /* .footer-top {
    flex-direction: column;
    border: 1px solid red;
  } */

  .footer-section {
    margin: 0 30px 30px 0;
    font-size: 0.8rem;
  }

  .footer {
    text-align: center;
    width: 100%;
  }